@model CreateRoleViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Create New Role</h1>
<p>@ViewBag.Message</p>
<div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h5 class="text-uppercase text-center">Role Form</h5>
            </div>
            <div class="card-body">
                <form asp-action="CreateRole">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RoleName"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Create Role" class="btn btn-sm btn-success text-uppercase rounded-0" />
                </form>
            </div>
        </div>
    </div>
</div>  