@{
    ViewData["Title"] = "Home Page";
}
    <div style="background-image:url('body3.jpg'); width:100%;height:100%">
        <div class="text-center">
            <img src="~/de9eb637d1dac9a77a7f3822ed57ce07.gif" width="20%" height="10%" style="margin:auto"/>
            <h1 class="display-4" style="color:azure">Booking Store </h1>
            <a href="#" style="color:azure">E-commerce Book Store</a>
        </div>
        <div>
            @*<a asp-controller="Account" asp-action="Register">Register</a>*@
        </div>
        
        <img src="~/librarySample.png" style="margin-left:20%;margin-top:0px" width="60%" height="50%"/>
    </div>